{% extends "base.html" %}

{% block title %}{{ super() }} - Rooms{% endblock %}

{% block content %}

<div class="row mt-4">
	<div class="col-sm-12">
		<h2 class="text-center">Create Chat Room</h2>
		<form action="" method="post">
		  <div class="form-group">
		    <label for="inputRoomName">Chat Room Name</label>
		    <input type="text" class="form-control" id="inputRoomName" placeholder="Room Name" name="name">
		  </div>
		  <button type="submit" value="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>

<div class="row mt-4">
	<div class="col-sm-12">
		<h2 class="text-center">Chat Rooms</h2>
		{% if rooms: %}
		<ul>
			{% for r in rooms %}
				<li><a href="{{ url_for('chat', room=r.id) }}">{{ r.name }}</a> {% if r in myrooms %}<small><a href="{{ url_for('delete', room=r.id) }}">[DELETE]</a></small>{% endif %}</li>
			{% endfor %}
		</ul>
		{% else: %}
		<span class="italics">There are no chat rooms currently.</span>
		{% endif %}
	</div>
</div>
{% endblock %}
